img {
    width: 200px;
    height: 200px;
 
}

.col-sm-3 {
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    
}

body {
    background-image: url("../images/minimal_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    margin-top: 200px;
    margin-bottom: 100px ;
}

